
# Database
# PostgreSQL example:
DATABASE_URL="postgresql://username:password@localhost:5432/docusage_db?schema=public"

# Authentication
# You can use either NextAuth or Better Auth. The following variables are for Better Auth.
BETTER_AUTH_SECRET="your-better-auth-secret"
BETTER_AUTH_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# GitHub OAuth
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"

JWT_EXPIRES_IN='7d'
